<h1 class="page-header text-center"><%= @client.full_name %></h1>
<div class="col-sm-6 col-sm-offset-3">
  <% if @client.stylist.class == Stylist %>
    <p class="text-center lead"><%= @client.stylist.full_name %> styles <%= @client.first_name %>'s hair</p>
  <% else %>
    <p class="text-center lead">This client does not have a stylist at this time.</p>
  <% end %>
  <form action="/clients/<%= @client.id %>" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger stretch">Delete This Client</button>
    </div>
  </form>

</div>

<a href="/clients" class="back-link">< Back</a>
