<h1 class="page-header text-center">Welcome to Hair by Ian!</h1>
<div class="row login-wrapper move-down">
  <div class="col-sm-6 col-sm-offset-3">
    <p class="text-center lead">Please select an option below:</p>
    <a href="/stylists" class="btn btn-primary outline" role="button">Stylists</a>
    <a href="/clients" class="btn btn-primary outline" role="button">Clients</a>
  </div>
</div>
