<h1 class="page-header text-center"><%= @stylist.full_name %></h1>
<div class="col-sm-6 col-sm-offset-3">
  <% if @stylist.clients.empty? %>
    <p class="text-center lead">Sorry, there are no clients for this stylist at this time.</p>
  <% else %>
    <p class="text-center lead"><%= @stylist.first_name %>'s clients:</p>
    <ul>
      <% @stylist.clients.each do |client| %>
        <li>
          <%= client.full_name %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <form action="/stylists/<%= @stylist.id %>" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn btn-danger stretch">Delete This Stylist</button>
    </div>
  </form>

</div>

<a href="/stylists" class="back-link">< Back</a>
