<h1 class="page-header text-center"><%= @stylist.full_name %></h1>
<div class="col-sm-6 col-sm-offset-3">
  <% if @stylists.clients.empty? %>
    <p class="text-center lead">Sorry, there are no stylists at this time.</p>
    <a href="/stylists/add" class="btn btn-primary outline stretch" role="button">Add a Stylist</a>
  <% else %>
    <p class="text-center lead">Here is a list of available stylists:</p>
    <ul>
      <% @stylists.each do |stylist| %>
        <li>
          <a href="/stylists/<%= stylist.id %>">
            <%= stylist.full_name %>
          </a>
        </li>
      <% end %>
    </ul>
  <a href="/stylists/add" class="btn btn-primary outline stretch" role="button">Add Another Stylist</a>
  <% end %>
</div>

<a href="/stylists" class="back-link">< Back</a>
